.top-margin-first-container{
  margin-top: 3.6875rem;
}

.own-bg-color-grey{
  background-color: #fff;
    text-align: center;
}

.own-bg-color-light-green{
  background-color: #6ba8a9;
  text-align: center;
}

.text-color-green{
  color: #6ba8a9;
}

.text-color-grey{
  color: #fff;
}
