html,body{
    margin:0;
    height: 100%;
    background-color: #32e0c4;
    position: relative;
}

.sample{
  background-color: #393e46;
  height: 100%;
  width:200px;
}

.name{
  color: #393e46;
  margin: 0px;
  position: absolute;
  left: 400px;
  top: 15px;
}

.skill-navbar{
  position: absolute;
  color: #eeeeee;
  top: 15px;
  margin: 0px;
}
